<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <title>ToDoList</title>
</head>
<body>
    <!--<h2>Hello! You are in the index file!</h2>
    <h3><%=name %>, you created me!</h3>
    <h3> </h3>
    <% for(let i=0; i<length; i++){ %>
        <p> I will repeat this <%=length %> times!</p>
    <% } %>-->

    <div class="container">
        <h2>A Simple To Do List App</h2>
        <form action="http://localhost:3000/tasks" method="post" id="formTasks">
            <input type="text" name="newTask" placeholder="add a new task">
            <button type="submit">Add task</button>
        </form>

        <div>
            
            <% for(let i=0; i<tasks.length; i++){ %>
                <div class="task"><span> <%=tasks[i].text %></span> <button type="submit">Delete</button></div>
            <% } %>
            
        </div>
    </div>
</body>
</html>