<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <title>ToDoList</title>
</head>
<body>
    
    <div class="container">
        <h2>A Simple To Do List App</h2>
        <form action="http://localhost:3000/tasks" method="post" id="formTasks">
            <input type="text" name="newTask" placeholder="add a new task">
            <button type="submit">Add task</button>
        </form>

        <div>
            
            <% for(let i=0; i<tasks.length; i++){ %>
                <div class="task"><span><input type= checkbox value=<%=tasks[i].text %>><%=tasks[i].text %> </span><input class= delete type="button" value= 'Delete' id='<%=tasks[i].id %>'></div>
            <% } %>
            
        </div>
    </div>
    <script>
        console.log('script')
        let btns = document.querySelectorAll('.delete');
        for (let btn of btns){
            btn.addEventListener('click', deleteTask)

        }
        function deleteTask(){
            console.log(this.id)
            //preventDefault();
            fetch(`http://localhost:3000/tasks/${this.id}`, 
            {method: 'DELETE'})
            .then(response => response.json())
            .then(data => window.location = data.redirect_path)
            
        }
        
        
    </script>
</body>
</html>